<div class="row">
  <div class="col-md-9">
    <div id="map" style='width: 100%; height: 600px;'>
    </div>
  </div>
  <div class="col-md-3">
    <h3> Top Suburbs </h3>
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <td> Suburb </td>
          <td> Organisations </td>
        </tr>
      </thead>
      <tbody>
        <% @org_suburb_count.each do |suburb, count| %>
          <tr>
            <td> <a class="haha" href="#"><%= suburb %></a><td>
            <td> <%= count %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider : {}, internal: {id: 'map'}}, function() {
    markers = handler.addMarkers(<%=raw @org_hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(4);
  });

  $(document).ready(function() {
    $('.haha').click(function() {
      return false;
    });
  });

</script>
